.shorten {
  background-image: url(../images/bg/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-position: cover;
  background-color: #3a3053;
  border-radius: 10px;
  width: 88%;
  position: absolute;
  z-index: 1;
}
.form {
  padding: 35px;
  display: flex;
  gap: 20px;
}

.text {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.btnshort {
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(180, 66%, 49%);
  border: none;
  color: #fff;
  width: 100%;
}

.copy {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  position: relative;
  top: 30px;
}

.shotenedlink {
  width: 100%;
}

.btncopy {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(180, 66%, 49%);
  border: none;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .copy {
    flex-direction: column;
  }
  .form {
    flex-direction: column;
  }
}
