
.shorten{
  background-image: url(../images/bg/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-position: cover;
    background-color: hsl(255, 11%, 22%); 
    border-radius: 10px; 
   width: 88%;
  position: absolute;
   z-index: 1; 
  
}
.form{
  padding: 35px;
  display: flex;
  gap: 20px;
}

.text{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}

button{
  padding: 10px;
  border-radius: 10px;
  background-color:  hsl(180, 66%, 49%);
  border: none;
  color: #fff;
  width: 15%;
}