.statistic{
    margin-top: 60px;
    background-color:  #f0f1f6;
    height: 650px;
    padding-top: 40px;
}

.statContainer{
    padding-top: 150px;
}

.statContainer h2{
    font-weight: 700;
    font-size: 35px;
}

.centered{
    text-align: center;
}

.centered p{
    color:  hsl(0, 0%, 75%);
    font-weight: 500;
    font-weight: 18px;
}
.brand-statics{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%),1fr));
    gap: 1rem;
}

.boost{
    background-image: url('../images/bg/bg-boost-desktop.svg');
}
